<section class="adaptation phones _container">
    <h1 class="phones__title _visually-hidden">Адаптация</h1>
        <p class="phones__description">Адаптируем платформу для вас</p>

    <ul class="phones__list">
        <li class="phones__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="phones__img">
            <p class="phones__text">Иностранные гости увидят</br> интерфейс на своём языке</p>
        </li>
        <li class="phones__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="phones__img">
            <p class="phones__text">Личный профиль сотрудника</p>
        </li>
        <li class="phones__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="phones__img">
            <p class="phones__text">Адаптированный дизайн в стиле</br> заведения</p>
        </li>
    </ul>
</section>