<section class="advantages _container">
    <h2 class="advantages__title">Преимущества для заведения</h2>
    <ul class="advantages__list">
        <li class="advantages__item advantage">
            <svg class="advantage_svg">
                <use xlink:href="img/sprite.svg#advantage-Tip_icon"></use>
            </svg>
            <div class="advantage__content" >
                <h3 class="advantage__title">Чаевые</h3>
                <p class="advantage__text">До +30% дополнительных чаевых для персонала</p>
            </div>
        </li>
        <li class="advantages__item advantage">
            <svg class="advantage_svg">
                <use xlink:href="img/sprite.svg#advantage-Analytics_icon"></use>
            </svg
            >
            <div class="advantage__content">
                <h3 class="advantage__title">Аналитика</h3>
                <p class="advantage__text">Дополнительный доход с моментальными выплатами</p>
            </div>
        </li>
        <li class="advantages__item advantage">
            <svg class="advantage_svg">
                <use xlink:href="img/sprite.svg#advantage-LoyalityOfGuests_icon"></use>
            </svg>
            <div class="advantage__content">
                <h3 class="advantage__title">Лояльность гостей</h3>
                <p class="advantage__text">Моментально реагируйте на обратную связь от Гостей</p>
            </div>
        </li>
    </ul>

    <p class="advantages__links">
        <a href="#" class="advantages__link">Презентация для </br><b>Салонов красоты</b></a>
        <a href="#" class="advantages__link">Презентация для </br><b>Ресторанов</b></a>
    </p class="advantages__links">
</section>