<section class="better-conditions advantages _container">
    <h2 class="advantages__title">Преимущества для заведения</h2>
    <ul class="advantages__list">
        <li class="advantages__item advantage">
            <svg class="advantage_svg">
                <use xlink:href="img/sprite.svg#free-icon"></use>
            </svg>
            <div class="advantage__content" >
                <p class="advantage__text">Полностью бесплатно для заведения</p>
            </div>
        </li>
        <li class="advantages__item advantage">
            <svg class="advantage_svg">
                <use xlink:href="img/sprite.svg#cart"></use>
            </svg
            >
            <div class="advantage__content">
                <p class="advantage__text">Мгновенное зачисление чаевых на любую банковскую карту</p>
            </div>
        </li>
        <li class="advantages__item advantage">
            <svg class="advantage_svg">
                <use xlink:href="img/sprite.svg#parcetage-icon"></use>
            </svg>
            <div class="advantage__content">
                <p class="advantage__text">1 — 2% средняя комиссия с чаевых, но не более 5%</p>
            </div>
        </li>
    </ul>
</section>