<header class="_container header">
    <img src="./img/LOGO.png" alt="logo" width=184px height="21px" class="header__logo">

    <ul class="header__nav mainNav">
        <li class="mainNav__item"><a href="#" class="mainNav__link">Преимущества</a></li>
        <li class="mainNav__item"><a href="#" class="mainNav__link">Принцип работы</a></li>
        <li class="mainNav__item"><a href="#" class="mainNav__link">Адаптация</a></li>
        <li class="mainNav__item"><a href="#" class="mainNav__link">FAQ</a></li>
        <li class="mainNav__item"><a href="#" class="mainNav__link">Поддержка</a></li>
    </ul>
            
    <ul class="header__socials socialLinks">
        <li class="socialLinks__item"> 
            <svg class="socialLinks__svg socialLinks__svg--vk" viewBox="0 0 30 18">
                <use xlink:href="img/sprite.svg#vk_icon" class="socialLinks__use"></use>
            </svg >
        </li>
        <li class="socialLinks_item">
            <svg class="socialLinks__svg socialLinks__svg--instagram" viewBox="0 0 18 18">
                <use xlink:href="img/sprite.svg#instagram_icon" class="socialLinks__use"></use>
            </svg >
            
        </li>
        <li class="socialLinks_item">
            <svg class="socialLinks__svg socialLinks__svg--youtube" viewBox="0 0 26 18">
                <use xlink:href="img/sprite.svg#youtube_icon" class="socialLinks__use"></use>
            </svg >
        </li>
    </ul>
</header>