<header class="header _container ">
    <h2 class="_visually-hidden">Главная навигация</h2>
    <img src="./img/LOGO.png" alt="logo" width=184px height="21px" class="header__logo">

    <nav class="header__nav mainNav">
        <ul class="mainNav__list">
            <li class="mainNav__item"><a href="#" class="mainNav__link">Преимущества</a></li>
            <li class="mainNav__item"><a href="#" class="mainNav__link">Принцип работы</a></li>
            <li class="mainNav__item"><a href="#" class="mainNav__link">Адаптация</a></li>
            <li class="mainNav__item"><a href="#" class="mainNav__link">FAQ</a></li>
            <li class="mainNav__item"><a href="#" class="mainNav__link">Поддержка</a></li>
        </ul>
    </nav>
            
    <ul class="header__socials socialLinks">
        <li class="socialLinks__item"> 
            <a href="#" class="socialLinks__link">
                <svg class="socialLinks__svg socialLinks__svg--vk" viewBox="0 0 30 18">
                    <use xlink:href="img/sprite.svg#vk_icon" class="socialLinks__use"></use>
                </svg >
            </a>
        </li>
        <li class="socialLinks_item">
            <a href="#" class="socialLinks__link">
                <svg class="socialLinks__svg socialLinks__svg--instagram" viewBox="0 0 18 18">
                    <use xlink:href="img/sprite.svg#instagram_icon" class="socialLinks__use"></use>
                </svg >
            </a>
        </li>
        <li class="socialLinks_item">
            <a href="#" class="socialLinks__link">
                <svg class="socialLinks__svg socialLinks__svg--youtube" viewBox="0 0 26 18">
                    <use xlink:href="img/sprite.svg#youtube_icon" class="socialLinks__use"></use>
                </svg >
            </a>
        </li>
    </ul>
</header>