<section class="mechanics phones _container">
    <h1 class="phones__title _visually-hidden">Принцип работы</h1>
    <p class="phones__description">Просто и понятно</p>

    <ul class="phones__list">
        <li class="phones__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="phones__img">
            <p class="phones__text">Наведите камеру на QR-код</br> в чеке или на визитке</p>
        </li>
        <li class="phones__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="phones__img">
            <p class="phones__text">Выберите сумму чаевых</br> и оставьте отзыв</p>
        </li>
        <li class="phones__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="phones__img">
            <p class="phones__text">Оплатите в касание</br> или банковской картой</p>
        </li>
    </ul>

    <p class="mechanics__subscriptions phones__subscriptions">Гости оставляют чаевые за несколько секунд.</br>
        Без установки приложения.</p>
</section>