<section class="mechanics _container">
    <h1 class="mechanics__title _visually-hidden">Принцип работы</h1>
    <p class="mechanics__description">Просто и понятно</p>

    <ul class="mechanics__list">
        <li class="mechanics__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="mechanics__img">
            <p class="mechanics__text">Наведите камеру на QR-код</br> в чеке или на визитке</p>
        </li>
        <li class="mechanics__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="mechanics__img">
            <p class="mechanics__text">Выберите сумму чаевых</br> и оставьте отзыв</p>
        </li>
        <li class="mechanics__item">
            <img src="img/mechanics-icon.png" width="237px" hight="508px" alt="телефон" class="mechanics__img">
            <p class="mechanics__text">Оплатите в касание</br> или банковской картой</p>
        </li>
    </ul>

    <p class="mechanics__subscriptions">Гости оставляют чаевые за несколько секунд.</br>
        Без установки приложения.</p>
</section>