<section class="promo _container">
    <div class="promo__wrapContent">
        <h2 class="promo__title _visually-hidden">Промо</h2>
        <strong class="promo__cta">Принимайте чаевые картой по QR‑коду</strong>
        <p class="promo__text">Платформа «нетмонет» позволяет Гостю удобно оставить отзыв и отблагодарить персонал банковской картой</p>
        <button class="promo__btn promo__btn--connect btn">Подключить заведение</button>
        <button class="promo__btn promo__btn--tip btn btn--transparent">Оставить чаевые</button>
    </div>

    <div class="promo__wrapImage"><img src="../../img/promo_phones.png" alt="promo" class="promo__image"></di>
    
</section>