.header {
    display: flex;

    margin-top: 60px;
    margin-bottom: 158px;
    padding-top: 4px;
    padding-bottom: 4px;

    &__logo {
        margin-right: 100px;
    }

    .mainNav { 
        width: 612px;
        margin-right: 188px;

        font-size: 15px;
        font-weight: 400;
        line-height: 18px;

        &__list {
            display: flex;

            justify-content: space-between;
        }

        &__link {
            color: #fff;
            text-decoration: none;
            vertical-align: middle;

            &:hover, &:focus {
                color: $inline-color;
                outline: none;

                cursor: pointer;
            }
        };
    }

    .socialLinks {
        display: flex;
        justify-content: space-between;

        width: 120px;

        &__link {
            &:hover, &:focus{
                outline: none;

                svg {
                    fill: $inline-color;
                    cursor: pointer;
                }
            }
        }

        &__svg {
            &--vk {
                width: 30px;
                height: 18px;

                fill: #fff;
            }

            &--instagram {
                width: 18px;
                height: 18px;

                fill: #fff;
            }

            &--youtube {
                width: 26px;
                height: 18px;

                fill: #fff;
            }
        }
    }

    ul, li {
        padding: 0;
        margin: 0;

        list-style-type: none;
    }


}